body {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #030301;
    background: #FDEFD7;
}

.container {
    width: 45%;
    margin: 0 auto;
}

header .container {
    text-align: center;
    padding-top: 75px;
}

header img {
    padding-top: 20px;
}

.container-fluid {
    width: 85%;
}

p.subhead {
    font-style: italic;
    font-weight: 300;
    padding-bottom: 30px;
}

p.byline {
    font-size: .85em;
    font-weight: 300;
    padding-bottom: 20px;
}

p {
    margin: 30px;
}

header h1 {
    font-size: 4em;
    font-weight: 800;
}

.wannabe {
    font-weight: 500;
    color: #116AB3;
}

.scrubs {
    font-weight: 500;
    color: #AD1A64;
}

.chart-hed {
    font-size: 2em;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 15px;
}

.chart-hed-wild {
    font-size: 2em;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 50px;
}

.diggity {
    color: #AD1A64;
}

.chart-subhed {
    color: #AD1A64;
    font-weight: 500;
}

@media (max-width: 950px) {

    .container,
    .container-fluid {
        width: 75%;
    }

    .chart p {
        padding-top: 1em;
        font-size: 1.25em;
        text-align: center;
    }
}

@media (max-width: 556px) {

    .container,
    .container-fluid {
        width: 95%;
    }

    h1 {
        font-size: smaller;
    }

    .chart-hed {
        font-size: 1.75em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .chart img {
        padding: 2em;
    }
}

a {
    color: #030301;
}

.these-songs {
    color: #116AB3;
}

.candidate {
    color: #08706F;
}

.all-life {
    color: #E94613;
}

.meant-me {
    color: #E94613;
}

footer {
    margin: 75px;
}