body {
    background: #4A202A;
}

h1 {
    color: #F1DFDD;
    font-family: "Nanum Myeongjo", sans-serif;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

h2 {
    color: #F1DFDD;
    font-family: "Nanum Myeongjo", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

h3 {
    color: #F1DFDD;
    font-family: "Nanum Myeongjo", sans-serif;
    font-weight: 700;
    text-align: center;
}

h4 {
    color: #F1DFDD;
    font-family: "Nanum Myeongjo", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

nav {
    font-family: "Nanum Myeongjo, sans-serif";
    background: #F1DFDD;
    text-align: center;
    padding: 4px;
}

p {
    color: #F1DFDD;
    font-family: "Nanum Myeongjo", sans-serif;
    font-weight: 700;
    text-align: center;
}

figure {
    color: #F1DFDD;
    font-family: "Nanum Myeongjo", sans-serif;
    font-weight: 700;
}