body {
    background: #4A202A;
    color: #F1DFDD;
    font-family: "Nanum Myeongjo", sans-serif;
    font-weight: 700;
    text-align: center;
}

main {
    margin: 3em 0;
}

h1,
h2,
h3 {
    padding: 10px 0;
}

nav {
    background: #F1DFDD;
    padding: 4px 60px;
    font-weight: 400;
    display: inline;
}

nav a {
    color: #4A202A;
}

a {
    color: #D86487;
}

figure {
    color: #F1DFDD;
}